# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=resume_hub
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_NAME=resumes